*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  
  
  }
  .leftlabel {
    width: 100%;
      float: left;
  
    }
    .rightlabel {
      width: 100%;
      float: left;
      /* margin-left: px; */
    }
    .defaultlabel {
      left:43px;
      top: 34px
    }
    
    .test {
      overflow: hidden;
   
    }

    input[type="checkbox"]{

      position: absolute;
      left: 10px;
      top: 4px;
    }
    .rightlabel2 {
   float: left;
    }
    
     .labelDivclass{
      /* width: 100%; */
      float: left;
 
     }
     .descriptionDivClass{
      width: 100%;
      float: left;
     }




    

